# Toolboards are assigned in physical ID order: 01 through 04 map to T0 through
# T3 respectively.

[mcu usb_bridge]
canbus_uuid: 28f4296c4844 # USB-CAN bridge
canbus_interface: can0

[mcu tool0]
canbus_uuid: 3fc4f7b9fe99 # Toolboard 01 / T0
canbus_interface: can0

[mcu tool1]
canbus_uuid: a9c8770a4f5f # Toolboard 02 / T1
canbus_interface: can0

[mcu tool2]
canbus_uuid: 89622ad13c37 # Toolboard 03 / T2
canbus_interface: can0

[mcu tool3]
canbus_uuid: fb7d25bf3989 # Toolboard 04 / T3
canbus_interface: can0
