[gcode_macro PRINT_BEGIN]
description: Start print macro
gcode:
    ; statistics
    KTCC_INIT_PRINT_STATS

    ; parameters
    {% if params.BED_TEMP is not defined %}
        { action_raise_error("BED_TEMP is not provided") }
    {% endif %}
    {% set bed_temp = params.BED_TEMP | int %}

    # we need at least one greater than 0
    {% set t0_temp = params.T0_TEMP | default(0) | int %}
    {% set t1_temp = params.T1_TEMP | default(0) | int %}
    {% set t2_temp = params.T2_TEMP | default(0) | int %}
    {% set t3_temp = params.T3_TEMP | default(0) | int %}
    {% set used_count = 0 %}
    {% if t0_temp > 0 %}
        { action_respond_info("T0 is used") }
        {% set used_count = used_count + 1 %}
    {% endif %}
    {% if t1_temp > 0 %}
        { action_respond_info("T1 is used") }
        {% set used_count = used_count + 1 %}
    {% endif %}
    {% if t2_temp > 0 %}
        { action_respond_info("T2 is used") }
        {% set used_count = used_count + 1 %}
    {% endif %}
    {% if t3_temp > 0 %}
        { action_respond_info("T3 is used") }
        {% set used_count = used_count + 1 %}
    {% endif %}
    {% if used_count == 0 %}
        { action_raise_error("At least one extruder temperature must be provided") }
    {% endif %}

    # first heat bed
    {% if bed_temp > 0 %}
        SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={ bed_temp }
        TEMPERATURE_WAIT_WITH_TOLERANCE HEATER=0 TOLERANCE=3 # heater id....
    {% endif %}

    # heater used nozzles
    {% if t0_temp > 0 %}
        { action_respond_info("T0 temperature set") }
        SET_TOOL_TEMPERATURE TOOL=0 ACTV_TMP={ t0_temp } STDB_TMP={ t0_temp } CHNG_STATE=2
    {% endif %}
    {% if t1_temp > 0 %}
        { action_respond_info("T1 temperature set") }
        SET_TOOL_TEMPERATURE TOOL=1 ACTV_TMP={ t1_temp } STDB_TMP={ t1_temp } CHNG_STATE=2
    {% endif %}
    {% if t2_temp > 0 %}
        { action_respond_info("T2 temperature set") }
        SET_TOOL_TEMPERATURE TOOL=2 ACTV_TMP={ t2_temp } STDB_TMP={ t2_temp } CHNG_STATE=2
    {% endif %}
    {% if t3_temp > 0 %}
        { action_respond_info("T3 temperature set") }
        SET_TOOL_TEMPERATURE TOOL=3 ACTV_TMP={ t3_temp } STDB_TMP={ t3_temp } CHNG_STATE=2
    {% endif %}
    {% if t0_temp > 0 %}
        TEMPERATURE_WAIT_WITH_TOLERANCE TOOL=0 TOLERANCE=3
    {% endif %}
    {% if t1_temp > 0 %}
        TEMPERATURE_WAIT_WITH_TOLERANCE TOOL=1 TOLERANCE=3
    {% endif %}
    {% if t2_temp > 0 %}
        TEMPERATURE_WAIT_WITH_TOLERANCE TOOL=2 TOLERANCE=3
    {% endif %}
    {% if t3_temp > 0 %}
        TEMPERATURE_WAIT_WITH_TOLERANCE TOOL=3 TOLERANCE=3
    {% endif %}

    # prepare nozzle
    _CG28
    BED_MESH_PROFILE LOAD=default

    # select initial tool
    {% if params.INITIAL_TOOL is defined %}
        T{ params.INITIAL_TOOL }
    {% else %}
        T0
    {% endif %}

    G90 # absolute positioning
    M83 # extruder relative mode

[gcode_macro PRINT_END]
description: finish print macro
gcode:
    # raise nozzle to avoid collision
    G91
    G1 Z2 F3000
    G0 X-1 Y-1 F30000
    G90

    DROP_TOOL

    FAN_OFF
    TURN_OFF_HEATERS
    BED_MESH_CLEAR

    M84

[gcode_macro FAN_OFF]
description: Turn off all fan
gcode:
    SET_FAN_SPEED SPEED=0 FAN=part_fan_0
    SET_FAN_SPEED SPEED=0 FAN=part_fan_1
    SET_FAN_SPEED SPEED=0 FAN=part_fan_2
    SET_FAN_SPEED SPEED=0 FAN=part_fan_3

[gcode_macro EXTRUDER_OFF]
description: Turn off all extruder
gcode:
    SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0
    SET_STEPPER_ENABLE STEPPER=extruder1 ENABLE=0
    SET_STEPPER_ENABLE STEPPER=extruder2 ENABLE=0
    SET_STEPPER_ENABLE STEPPER=extruder3 ENABLE=0
