# T2: CAN Toolhead v3 hardware and logical tool settings.
[mcu tool2]
canbus_uuid: 89622ad13c37 # Toolboard 03 / T2
canbus_interface: can0

[extruder2]
step_pin: tool2:PD0
dir_pin: !tool2:PD1
enable_pin: !tool2:PD2
microsteps: 16
rotation_distance: 4.637
full_steps_per_rotation: 200
nozzle_diameter: 0.4
filament_diameter: 1.75
max_extrude_cross_section: 3.0
max_extrude_only_distance: 250.0
max_extrude_only_velocity: 100
max_extrude_only_accel: 8000
heater_pin: tool2:PA8
max_power: 1.0
sensor_type: PT1000
sensor_pin: tool2:PA0
pullup_resistor: 2200
control: pid
pid_Kp: 11.491
pid_Ki: 0.428
pid_Kd: 77.130
min_extrude_temp: 170
min_temp: -10
max_temp: 320

[verify_heater extruder2]
max_error: 120
check_gain_time: 30
hysteresis: 15
heating_gain: 2

[tmc2209 extruder2]
uart_pin: tool2:PA15
interpolate: True
run_current: 0.72
sense_resistor: 0.110

[heater_fan hotend_fan_2]
pin: tool2:PA6
heater: extruder2
heater_temp: 40.0
fan_speed: 1.0

[multi_pin tool2_part_fans]
pins: tool2:PA7, tool2:PB0

[fan_generic part_fan_2]
pin: multi_pin:tool2_part_fans

[tool 2]
tool_group: 0
extruder: extruder2
fan: part_fan_2
meltzonelength: 25
zone: 213.0, 200.0, 0.0
park: 213.0, 239.5, 0.0
offset: 0.0, -39.0, 10.0
shaper_freq_x: 61.6
shaper_type_x: mzv
shaper_damping_ratio_x: 0.055
shaper_freq_y: 45.2
shaper_type_y: mzv
shaper_damping_ratio_y: 0.051
