# T0: Legacy Duet2 hardware and logical tool settings.
[extruder]
step_pin: E0_STEP
dir_pin: !E0_DIR
enable_pin: !DRIVERS_EN
microsteps: 16
rotation_distance: 8.672
full_steps_per_rotation: 200
nozzle_diameter: 0.4
filament_diameter: 1.75
max_extrude_cross_section: 3.0
max_extrude_only_distance: 1000.0
max_extrude_only_velocity: 100
max_extrude_only_accel: 8000
heater_pin: !HEADER_E0
max_power: 1.0
sensor_type: PT1000
sensor_pin: HEADER_E0_SENSOR
pullup_resistor: 4700
control: pid
pid_Kp: 11.491
pid_Ki: 0.428
pid_Kd: 77.130
pwm_cycle_time: 0.001
min_extrude_temp: 170
min_temp: -10
max_temp: 320

[verify_heater extruder]
max_error: 120
check_gain_time: 30
hysteresis: 15
heating_gain: 2

[tmc2660 extruder]
cs_pin: E0_CS
spi_bus: usart1
interpolate: True
run_current: 1.1
sense_resistor: 0.051
idle_current_percent: 30

[heater_fan hotend_fan_0]
pin: FAN_1
heater: extruder
heater_temp: 40.0
fan_speed: 1.0
hardware_pwm: True

[fan_generic part_fan_0]
pin: FAN_2
hardware_pwm: True

[tool 0]
tool_group: 0
extruder: extruder
fan: part_fan_0
meltzonelength: 25
zone: -12.0, 200.0, 0.0
park: -12.0, 239.5, 0.0
offset: 0.0, -39.0, 10.0
shaper_freq_x: 67.6
shaper_type_x: mzv
shaper_damping_ratio_x: 0.067
shaper_freq_y: 81.0
shaper_type_y: 2hump_ei
shaper_damping_ratio_y: 0.046
