# T3: CAN Toolhead v3 hardware and logical tool settings.
[mcu tool3]
canbus_uuid: fb7d25bf3989 # Toolboard 04 / T3
canbus_interface: can0

[extruder3]
step_pin: tool3:PD0
dir_pin: !tool3:PD1
enable_pin: !tool3:PD2
microsteps: 16
rotation_distance: 4.637
full_steps_per_rotation: 200
nozzle_diameter: 0.4
filament_diameter: 1.75
max_extrude_cross_section: 3.0
max_extrude_only_distance: 250.0
max_extrude_only_velocity: 100
max_extrude_only_accel: 8000
heater_pin: tool3:PA8
max_power: 1.0
sensor_type: PT1000
sensor_pin: tool3:PA0
pullup_resistor: 2200
control: pid
pid_Kp: 11.491
pid_Ki: 0.428
pid_Kd: 77.130
min_extrude_temp: 170
min_temp: -10
max_temp: 320

[verify_heater extruder3]
max_error: 120
check_gain_time: 30
hysteresis: 15
heating_gain: 2

[tmc2209 extruder3]
uart_pin: tool3:PA15
interpolate: True
run_current: 0.72
sense_resistor: 0.110

[heater_fan hotend_fan_3]
pin: tool3:PA6
heater: extruder3
heater_temp: 40.0
fan_speed: 1.0

[multi_pin tool3_part_fans]
pins: tool3:PA7, tool3:PB0

[fan_generic part_fan_3]
pin: multi_pin:tool3_part_fans

[tool 3]
tool_group: 0
extruder: extruder3
fan: part_fan_3
meltzonelength: 25
zone: 303.0, 200.0, 0.0
park: 303.0, 239.5, 0.0
offset: 0.0, -39.0, 10.0
shaper_freq_x: 61.0
shaper_type_x: mzv
shaper_damping_ratio_x: 0.048
shaper_freq_y: 45.0
shaper_type_y: mzv
shaper_damping_ratio_y: 0.045
