################################################
# load the default config
[include variables.cfg]
[include toollock.cfg]
[include toolgroup.cfg]

################################################
# load macros
[include M104.cfg]
[include M106.cfg]
[include M107.cfg]
[include M109.cfg]
[include M116.cfg]
[include M568.cfg]

################################################
# define tools
[tool 0]
tool_group: 0
extruder: extruder
fan: part_fan_0
meltzonelength: 18
zone: -12.0, 200.0, 0.0
park: -12.0, 239.0, 0.0
offset: -0.080, -38.257, 3.783

[tool 1]
tool_group: 0
extruder: extruder
fan: part_fan_0
meltzonelength: 18
zone: 78.0, 200.0, 0.0
park: 78.0, 239.0, 0.0
offset: 0.328, -38.390, 4.003

[tool 2]
tool_group: 0
extruder: extruder
fan: part_fan_0
meltzonelength: 18
zone: 213.0, 200.0, 0.0
park: 213.0, 239.0, 0.0
offset: -0.112, -38.425, 4.123

[tool 3]
tool_group: 0
extruder: extruder
fan: part_fan_0
meltzonelength: 18
zone: 303.0, 200.0, 0.0
park: 303.0, 239.0, 0.0
offset: 0.368, -38.575, +3.895

################################################
# tool macros
[gcode_macro T0]
description: select tool 0
gcode:
    KTCC_T0

[gcode_macro T1]
description: select tool 1
gcode:
    KTCC_T1

[gcode_macro T2]
description: select tool 2
gcode:
    KTCC_T2

[gcode_macro T3]
description: select tool 3
gcode:
    KTCC_T3

[gcode_macro DROP_TOOL]
description: deselect tool
gcode:
    KTCC_TOOL_DROPOFF_ALL