# Main-board cooling is independent of the selected toolhead backends.
[controller_fan drivers_fan]
pin: !HEADER_E5
max_power: 1.0
cycle_time: 0.01
kick_start_time: 1
fan_speed: 0.6
idle_timeout: 30
idle_speed: 0.3
heater:
stepper:
    stepper_x,
    stepper_y,
    stepper_z,
    extruder,
    extruder1
