[controller_fan drivers_fan]
pin: !HEADER_E5
max_power: 1.0
#shutdown_speed:
cycle_time: 0.01
# hardware_pwm: true
kick_start_time: 1
# off_below: 0.1
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
fan_speed: 0.6
idle_timeout: 30
idle_speed: 0.3
heater:
stepper:
    stepper_x,
    stepper_y,
    stepper_z,
    # manual_stepper stepper_c,
    extruder,
    extruder1,
    extruder2,
    extruder3
