[mcu]
# Original Duet2; keep this serial until the main board is replaced.
serial: /dev/serial/by-id/usb-Klipper_sam4e8e_00323153434834523133303033303339-if00

[sx1509 duex]
i2c_address: 62

[board_pins]
aliases:
    DRIVERS_EN=PC6,
    X_DIR=PD11, X_STEP=PD6, X_ENDSTOP=PC14, X_CS=PD14,
    Y_DIR=PD12, Y_STEP=PD7, Y_ENDSTOP=PA2, Y_CS=PC9,
    Z_DIR=PD13, Z_STEP=PD8, Z_ENDSTOP=PD29, Z_CS=PC10,
    E0_DIR=PA1, E0_STEP=PD5, E0_ENDSTOP=PD10, E0_CS=PC17,
    E1_DIR=PD9, E1_STEP=PD4, E1_ENDSTOP=PC16, E1_CS=PC25,
    E2_DIR=PD28, E2_STEP=PD2, E2_ENDSTOP=PE0, E2_CS=PD23,
    E3_DIR=PD22, E3_STEP=PD1, E3_ENDSTOP=PE1, E3_CS=PD24,
    E4_DIR=PD16, E4_STEP=PD0, E4_ENDSTOP=PE2, E4_CS=PD25,
    E5_DIR=PD17, E5_STEP=PD3, E5_ENDSTOP=PE3, E5_CS=PD26,
    E6_DIR=PC0, E6_STEP=PD27, E6_ENDSTOP=PA17, E6_CS=PB14,
    HEADER_BED=PA19, HEADER_BED_SENSOR=PC13,
    HEADER_E0=PA20, HEADER_E0_SENSOR=PC15,
    HEADER_E1=PA16, HEADER_E1_SENSOR=PC12,
    HEADER_E2=PC3, HEADER_E2_SENSOR=PC29,
    HEADER_E3=PC5, HEADER_E3_SENSOR=PC30,
    HEADER_E4=PC8, HEADER_E4_SENSOR=PC31,
    HEADER_E5=PC11, HEADER_E5_SENSOR=PC27,
    HEADER_E6=PA15, HEADER_E6_SENSOR=PA18,
    FAN_0=PC23, FAN_1=PC26, FAN_2=PA0,
    ZPROBE_IN=PC1,
    PS_ON=PD15,
    LED_ONBOARD=PC2,
    PWR_FAIL_DET=PC4,
