# X remains connected to E5 because the original onboard X driver is faulty.
[stepper_x]
step_pin: E5_STEP
dir_pin: !E5_DIR
enable_pin: !DRIVERS_EN
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: X_ENDSTOP
position_min: -35
position_endstop: -35
position_max: 328.5
homing_speed: 50.0
homing_retract_dist: 3.0
homing_retract_speed: 50.0
second_homing_speed: 4.0
homing_positive_dir: false

[tmc2660 stepper_x]
cs_pin: E5_CS
spi_bus: usart1
interpolate: True
run_current: 1.3
sense_resistor: 0.051
idle_current_percent: 100
